html {
    -webkit-text-size-adjust: 100%;
    height: 100%;
    font: var(--text-regular);
    color: var(--color-white);
}

body {
    margin: 0;
    height: 100%;
    background-color: var(--color-gray-dark);
}

.logo a{
    color: #ADA9B2;
    font-size: 16px;
    margin-top: 10px;
    line-height: 24px;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.header-text {
    color: #7D7685;
    font-size: 14px;
    margin-top: 10px;
    line-height: 24px;
    margin-bottom: 10px;
    opacity: 1;
}

#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font: inherit;
}

button {
    box-shadow: none;
    border: none;
    background-color: var(--color-none);
    text-transform: none;
    outline: 0;
    cursor: pointer;
    font: inherit;
    letter-spacing: inherit;

    &:disabled {
        cursor: default;
    }
}

.avatar-box.selected {
    z-index: 99999999999 !important;
}

.avatar-box {

    &:hover {
        z-index: 9999999999 !important;
    }

    .avatar {
        z-index: 9999999;
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    .message {
        position: absolute;
        right: -10px;
        top: 24px;
        transform: translateX(100%) translateY(-50%);
        background-color: var(--color-gray);
        padding: 15px;
        border-radius: 10px;
        font: var(--text-regular-small);
        min-width: 190px;
        box-shadow: 0 3px 12px 0 rgba(38, 47, 54, 0.5);

        @media screen and (max-width: 667px) {
            font: var(--text-regular-tiny);
        }
    }
}

.avatar.red{
    border: 2px solid red;
}

.avatar.green{
    border: 2px solid green;
}

.avatar.yellow{
    border: 2px solid yellow;
}

.avatar.orange{
    border: 2px solid orange;
}

.cluster {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    font: var(--text-regular-small);
    border: 2px solid var(--color-blue);

    &.cluster-s {
        background-color: var(--color-cluster-s);
    }

    &.cluster-m {
        background-color: var(--color-cluster-m);
    }

    &.cluster-l {
        background-color: var(--color-cluster-l);
    }
}

.company{
    margin-top: 20px;
    font-size:40px;
    color:white;
    font-weight: bolder;
    text-align: center;
}

.company .company-info {
    margin-top: 80px;
}

.company .donation-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 200px;
    padding-left:10px;
    padding-right:10px;
    border-bottom: 5px solid white;
}

.company .description-info {
    margin-top: 50px;
    margin-left:40px;
    margin-right: 40px;
    overflow-wrap: break-word;
    color:white;
}

.company .company-info .company-address {
    margin-top:10px;
    font-size: 20px;
}


.social-media-info{
    width: 100%;
    position: absolute;
    bottom: 20px;
}

.instagram {
    color:red;
    background-image: url('/instagram.png');
}

.number-of-donaters{
    color:red;
}

.donate-amount{
    color:red;
}

.leaflet-popup{
    bottom:-55px !important;
    left: 40px !important;
}

.leaflet-pane{
    z-index:400;
}

.leaflet-popup-content-wrapper{
    width: 180px;
    height: 68px;
    background-color: #35303B;
    border-radius: 30px 30px 30px 30px;
    border: 2px solid #6B6473;
    position: relative;
    z-index: 9999999998;
}

.red .leaflet-popup-content-wrapper{
    border-color:red;
}

.yellow .leaflet-popup-content-wrapper{
    border-color:yellow;
}

.green .leaflet-popup-content-wrapper{
    border-color:green;
}

.orange .leaflet-popup-content-wrapper{
    border-color:orange;
}

.leaflet-popup-content{
    width: 100% !important;
    height: 100% !important;
    margin-top:3px;
    padding:0;
    border-radius: 50%;
}

.leaflet-popup-tip-container{
    visibility: hidden;
}

.leaflet-popup-close-button{
    visibility: hidden;
}

.popup-company-name{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-top:3px;
    padding-bottom:3px;
    width:120px;
    color:white;
}

.popup-donation-amount{
    color:#606973;
}


.popup-donate-users{
    margin-left:10px;
}

.popup-status-text{
    margin-top:3px;
}

.popup-status-text.red{
    color:red;
}

.popup-status-text.yellow{
    color:yellow;
}

.popup-status-text.green{
    color:green;
}

.popup-status-text.orange{
    color:orange;
}

.currentMarkerDetailsContainer{
    height: 100%;
    width: 400px;
    position: absolute;
    background-color: #35303B;
    z-index: 9999;
    padding-top: 58px;
    font: var(--text-regular);
    font-size: 26px;
    letter-spacing: 0;
}

.currentMarkerDetailsContainer .closeDetailsPanel {
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 5px;
    font-size:20px;
    border: 2px solid black;
    background-color: black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    color:white;
}

.currentMarkerDetailsContainer .infoSection {
    margin:21px;
}

.currentMarkerDetailsContainer .nameSection{
    position: relative;
    border-bottom: 2px solid #000;
}

.currentMarkerDetailsContainer .nameSection .companyImg {
    top: 65px;
    left: -1px;
    width: 400px;
    height: 256px;
    opacity: 1;
    background-size: cover;
}

.currentMarkerDetailsContainer .nameSection .infoSection {
    min-height: 70px;
    margin-bottom:10px;
}

.currentMarkerDetailsContainer .nameSection .status{
    margin-top:10px;
    float:left;
    font-size:14px;
}

.currentMarkerDetailsContainer .nameSection .statusSection{
    display: flex;
    justify-content: space-between;
}

.currentMarkerDetailsContainer .nameSection .lastUpdateDate{
    font-size:14px;
    margin-top:10px;
    color: #7D7685;
    font-style: italic;
}

.currentMarkerDetailsContainer .donationSection {
    border-bottom: 2px solid #000;
    height: 50px;
}

.currentMarkerDetailsContainer .donationSection .donateAmount {
    float:left;
}

.currentMarkerDetailsContainer .donationSection .donateCount{
    float: right;
}

.currentMarkerDetailsContainer .descriptionSection {
    border-bottom: 2px solid #000;
    min-height: 180px;
}

.currentMarkerDetailsContainer .descriptionSection .infoSection {
    display: flex;
}

.currentMarkerDetailsContainer .descriptionSection .text {
    margin:21px;
    font-size: 14px;
    color: #ADA9B2;
}

.currentMarkerDetailsContainer .descriptionSection .buttons {
    margin-top:30px;
    text-align: center;
    margin-bottom:20px;
}

.currentMarkerDetailsContainer .descriptionSection .buttons .supportButton {
    height: 48px;
    width: 208px;
    background: #64B1FF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border:0;
    color:#fff;
    cursor: pointer;
    border-radius: 4px;
}

.currentMarkerDetailsContainer .socialMediaSection {
    margin-top:20px;
    border-bottom: 2px solid #000;
    height: 70px;
    text-align: center;
}

.currentMarkerDetailsContainer .red{
    color:red;
}

.currentMarkerDetailsContainer .green{
    color:green;
}

.currentMarkerDetailsContainer .yellow{
    color:yellow;
}

.currentMarkerDetailsContainer .orange{
    color:orange;
}

.currentMarkerDetailsContainer .userAvatar {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.currentMarkerDetailsContainer .socialMediaSection .icons img {
    cursor: pointer;
    fill: gray;
    margin-left:20px;
    width: 48px;
    height: 48px;
}

.addMarkerLink {
    height: 48px;
    padding:10px;
    width: 208px;
    background: #64B1FF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 0;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.createMarkerContainer {
    padding:20px;
    margin:0 auto;
}

.createMarkerContainer .form-label{
    width:200px;
    display: inline-block;
    text-align: right;
    margin-right: 20px;
}

.createMarkerContainer .form-group{
    margin-bottom: 20px;
}

.createMarkerContainer .createMarker{
    height: 48px;
    padding:10px;
    width: 208px;
    background: #64B1FF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 0;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    margin-left:220px;
}

.createMarkerContainer .form-control{
    width:500px;
    display: inline-block;
    margin-right: 20px;
    padding:5px;
    border-radius: 6px;
    height: 50px;
}

.createMarkerContainer textarea{
    height: 100px !important;
}


.createMarkerContainer textarea[name=address]{
    height: 70px !important;
}

.createMarkerContainer .fileUploader{
    width: 500px;
    margin-left:220px;
}
